<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="all">
            <directory suffix=".php">tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <!--<ini name="always_populate_raw_post_data" value="-1" />-->
        <!--<ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED" />-->
        <env name="no_proxy" value="*" />
        <const name="APP_URL" value="http://multi-routing.local" />
        <const name="CURRENT_API_VERSION" value="1.1" />
        <const name="WSDL_PATH" value="./tests/soap-wsdl-literal.sample.wsdl" />
    </php>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>

            <exclude>
                <directory>tests/</directory>
                <directory>example/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>